@media only screen and (min-width: 600px) {body{background-color: #4685b8;}
}
header{
    background-color:#a3b4c8;
    background-image: url("../afbeeldingen/waterpoort.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 350px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top: 3px solid #cc6d3d;
    border-left: 3px solid #cc6d3d;
    border-right: 3px solid #cc6d3d;
    min-width: fit-content;
    padding-top: 20px;
}
footer{
    background-color:#a3b4c8;
    background-image: url("../afbeeldingen/waterpoortje.png");
    background-position: bottom;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #022e51;
    border-bottom: 3px solid #cc6d3d ;
    border-left: 3px solid #cc6d3d;
    border-right: 3px solid #cc6d3d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
body{
    background-color: #022e51;
    padding: 20px;
    min-width: fit-content;
    max-width: fit-content;
}
h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 150px;
    line-height: 150px;
    color: #b74803;
    overflow: hidden;
    margin: 10px;
    padding-top: 70px;
    padding-left: 50px;
}
h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 53px;
    line-height: 53px;
    color: white;
    overflow: hidden;
    padding-left: 50px;
    margin: 10px;
}
h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    color: white;
}
.mainbody{
    background-color:#a3b4c8;
    height: auto;
    margin: auto;   
    border-left: 3px solid #cc6d3d;
    border-right: 3px solid #cc6d3d;
}
section{
    display: flex;
    flex-wrap: nowrap;
}
#bloklinks{
    width: 35%;
    height: 100%;
    background-color: #cc6d3d;
    border-radius: 25px;
    padding: 25px;
    margin-right: 50px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: left;
    font-family: 'Red Hat Display', sans-serif;
    column-count: 2;
}
#blokrechts{
    width: 65%;
    height: 100%;
    background-color: #b74803;
    border-radius: 25px;
    padding: 25px;
    margin-right: 25px;
    margin-left: 50px;
    margin-top: 25px;
    column-count: 9;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
#inhoudrechts{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-align: left;
    width: 100%;
    padding: 10px;
}
.rechtsimg{
    float: right;
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#inhoudlinks{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-align: left;
    width: 100%;
}